.section01 .image-area img {
	/* animation:slide-left calc( 100vw / 1000 * 5s ) linear 0s infinite; */
	animation-name: slide-left;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 10s;
}
@media screen and (max-width:750px) {
	.section01 .image-area img {
		animation-duration: 5s;
	}
}
@keyframes slide-left {
	0% { right:-700px; }
	100% { right:calc( 100% + 75px ); }
}
@-webkit-keyframes slide-left {
	0% { right:-700px; }
	100% { right:calc( 100% + 75px ); }
}
.section02 .c-box > div.active {
	animation-name: displayAnime;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes displayAnime{
  from { opacity: 0; }
  to { opacity: 1; }
}
.section02 .c-box_btn-area .flex-item:not(.active):hover {
	animation:slide-top 0.5s linear backwards infinite;
}
@keyframes slide-top {
	0%{transform:translateY(0)}
	50%{transform:translateY(-10px)}
	100%{transform:translateY(0)}
}
footer .image-area img.illust.scrolled {
	animation:bounce-top 2s linear both;
}
@keyframes bounce-top {
	0%{transform:translateY(-1000px);animation-timing-function:ease-in;opacity:1}
	24%{opacity:1}
	40%{transform:translateY(-48px);animation-timing-function:ease-in}
	65%{transform:translateY(-24px);animation-timing-function:ease-in}
	82%{transform:translateY(-12px);animation-timing-function:ease-in}
	93%{transform:translateY(-8px);animation-timing-function:ease-in}
	25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}
	100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}
}
footer .image-area img.illust.slided {
	animation:slide-rotation 0.5s linear infinite;
}
@keyframes slide-rotation {
	0%{transform:translateX(0)}
	25%{transform:translateX(10px)}
	50%{transform:translateX(0)}
	75%{transform:translateX(-10px)}
	100%{transform:translateX(0)}
}
.section_kv .floating_parts {
	animation: floating ease-in-out 10s infinite;
}
@keyframes floating {
	0% {
		opacity: 0;
    transform: translate(0,0);
	}
	20% {
		transform: translate(5px,-15px) rotate(10deg);
		opacity: 1;
	}
	30% {
		transform: translate(-5px,0px) rotate(20deg);
	}
	50% {
		transform: translate(15px,15px) rotate(10deg);
	}
	70% {
		transform: translate(0,0px) rotate(0deg);
		opacity: .8;
	}
	90% {
		transform: translate(-5px,5px) rotate(-10deg);
    opacity: .4;
	}
	100% {
		transform: translate(0,0);
		opacity: 0;
	}
}
.section_kv .floating_parts.parts_01,
.section_kv .floating_parts.parts_12 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.section_kv .floating_parts.parts_02,
.section_kv .floating_parts.parts_11 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.section_kv .floating_parts.parts_03,
.section_kv .floating_parts.parts_10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.section_kv .floating_parts.parts_04,
.section_kv .floating_parts.parts_09 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.section_kv .floating_parts.parts_05,
.section_kv .floating_parts.parts_08 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.section_kv .floating_parts.parts_06,
.section_kv .floating_parts.parts_07 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}